/* Images.css */

.logo-container {
    position: absolute; 
    top: 30%;             
    left: 10%;            
    padding: 5px;    
     
  }
  
  /* Images.css */

.logo-image {
  max-width: 350px;   /* Set the maximum width for the logo */
  max-height: 350px;  /* Set the maximum height for the logo */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

